@import url("~bootstrap/dist/css/bootstrap.css");

@import url('~normalize.css/normalize.css');

* {
  box-sizing: border-box;
}

/* TODO */
body{
  text-align: center;
  padding: 5% 20% 0 20%;
}
#name-fld{
  margin-bottom: 10px;
}
.box{
  float: left;
  width: 100px;
  height: 100px;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}